<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<HTML>
	<HEAD>
		<META HTTP-EQUIV="CONTENT-TYPE" CONTENT="text/html;
		charset=windows-1252">
		<TITLE>BGM13S Dev - Development Board</TITLE>
	</HEAD>
	<BODY LANG="fr-FR" DIR="LTR">
		<P>This project template is the basis of Sijin Woo's BGM13S development
			board with Silicon Lab's bluetooth SiP module. The module is already
			certified by the FCC. The components needed to program and debug the
			board is present. No PCB design has been made but the RF loop cutout
			must be present as specified in the BGM13S' datasheet.
		</P>
		<P>Sijin Woo<BR>2019</P>
	</BODY>
</HTML>